/vendor
/node_modules
Homestead.yaml
Homestead.json
.env

/bower_components

/resources/assets/css/vendor
/resources/assets/js/vendor

composer.phar

_ide_helper.php
_ide_helper_models.php
.phpstorm.meta.php